# Intro python data science
## Práctica 02: Listas

Vamos a ver:
* Punto 1: crear listas con diferentes tipos de datos
* Punto 2: seleccionar elementos de listas
* Punto 3: agregar/eliminar elementos de listas

Extra: cómo crear dataframe de una lista

# Punto 1:

In [ ]:
# crear listas con diferentes tipos de datos

# structure : | nombre (string) | millones_usuarios (int) | pertenece_fbk (bool) |

In [1]:
ejemplo=['nombre',1548,True]

In [2]:
ejemplo

['nombre', 1548, True]

In [5]:
# datos de RRSS 2020

fbk=['facebook',2449,True]
twt=['twitter',339,False]
ig=['instagram',1000,True]
yt=['youtube',2000,False]
lkn=['linkedin',663,False]
wsp=['whatsapp',1600,True]

fuente: https://www.juancmejia.com/marketing-digital/estadisticas-de-redes-sociales-usuarios-de-facebook-instagram-linkedin-twitter-whatsapp-y-otros-infografia/

# Punto 2:

In [12]:
# seleccionar elementos de listas
nombres_rrss=['facebook','twitter','instagram','youtube','linkedin','whatsapp']

In [13]:
# el conteo empieza en cero. Nomrbe completo de Facebook
nombres_rrss[0]

'facebook'

In [15]:
# seleccionar dos elementos
[nombres_rrss[0],nombres_rrss[4]]

['facebook', 'linkedin']

In [16]:
# utilizar los dos puntos : para seleccionar varios elementos seguidos
nombres_rrss[2:5]

['instagram', 'youtube', 'linkedin']

In [17]:
# seleccionar desde atras
nombres_rrss[-1]

'whatsapp'

# Punto 3:

In [ ]:
# agregar elementos de listas

In [18]:
fbk.append(2006)

In [19]:
fbk

['facebook', 2449, True, 2006]

In [20]:
twt.append(2006)
ig.append(2010)
yt.append(2005)
lkn.append(2003)
wsp.append(2009)

fuente https://interestingengineering.com/a-chronological-history-of-social-media

In [ ]:
# eliminar elementos de listas

In [21]:
fbk.append('error')

In [22]:
fbk

['facebook', 2449, True, 2006, 'error']

In [23]:
fbk.remove('error')

In [24]:
fbk

['facebook', 2449, True, 2006]

# Extra: cómo crear dataframe de una lista
(más en próximos vídeos)

In [25]:
# creando listas con todas las RRSS
lista_rrss=[fbk,twt,ig,yt,lkn,wsp]

In [26]:
# mostrando en notebook
lista_rrss

[['facebook', 2449, True, 2006],
 ['twitter', 339, False, 2006],
 ['instagram', 1000, True, 2010],
 ['youtube', 2000, False, 2005],
 ['linkedin', 663, False, 2003],
 ['whatsapp', 1600, True, 2009]]

In [27]:
# adelanto a DataFrames (próximas clases)
import pandas as pd

pd.DataFrame(lista_rrss, columns=['Nombre','Cantidad','Es_FBK','Año'])

      Nombre  Cantidad  Es_FBK   Año
0   facebook      2449    True  2006
1    twitter       339   False  2006
2  instagram      1000    True  2010
3    youtube      2000   False  2005
4   linkedin       663   False  2003
5   whatsapp      1600    True  2009

# NuncaParesDeAprender!